html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.6rem;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 120px;
    background-color: #353535;
}

.h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 320px;
    height: 50px;
    margin-top: 20px;
}

.h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 450px;
    height: 25px;
    border-radius: 2px;
    background-color:#fff;
}

.search-container > input {
    width: 80%;
    height: 70%;
    outline: none;
    border: none;
    margin-right: 10px;
    border-right: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
}

.search-container > input::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}

.search-container img {
    width: 15px;
}

.image-main {
    width: 100%;
    height: 250px;
}
.main-title {
    background-color: #353535;
}

.main-title h1 {
    margin: 0px 0px 0px 10px;
    padding: 10px 10px 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.categories-container {
    margin-top: 60px;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.categories-container p {
    color: #353535;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;

}

.categories {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 200px);
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: #929292 5px 2px 10px 0px ;
    background-color:#f2f2f2;
}

.category img {
    max-width: 64px;
    margin: 0 auto;
    margin-top: 30px;
}

.category h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5.3rem;
    font-weight: 700;
    color: #f2f2f2;
    text-shadow: -1px 2px 1px  #979797;
}

.category a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 25px;
    margin:  0 auto;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    color: #353535;
    background-color: #f2f2f2;
}

#js {
    background-color: #ffe600;
}

#py {
    background-color: #3771a1;
}

#html5 {
    background-color: #e44d26;
}

#html5 > img {
    margin-top: 10px;
   max-width: 120px;
}
footer {
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: #353535;
}